
.box{
	width:100%;
	height:100%;
	background:url("../images/bg.png") no-repeat;
	background-size:cover;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:end;
	.logo{
		-webkit-box-flex:1;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		padding-top:50px;
		position:relative;
		.logo-img{
			display:block;
			width:100%;
			text-align:center;
		}
		.logo-info{
			-webkit-box-flex:1;
			margin-top:30px;
			p{
				color:white;
				text-align:center;
				line-height:30px;
				font-size:1rem;
			}
		}
		.logo-close{
			position:absolute;
			top:2rem;
			right:0.5rem;
			width:2rem;
			height:2rem;
		}
	}
	.login{
		width:100%;
		height:130px;
		display:-webkit-box;
		dl{
			-webkit-box-flex:1;
			padding:0 5px;
			dt{
				line-height:30px;
				background:#4f4143;
				opacity:0.8;
				border-radius:8px;
				color:white;
				img{
					width:30px;
					height:30px;
					padding:5px;

				}
			}
			dd{
				text-align:center;
				font-size:1rem;
			}
		}

	}

}
